@import "_reset";
@import "_btn";

$tablet: "screen and (max-width:992px)";
$mobile: "screen and (max-width:768px)";

#wrap,
body {
  position: relative;
  z-index: -9999;
  width: 100vw;

  color: #222;
  font-family: "noto sans CJK KR";
  font-size: 0.652rem;

  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 99999;

  width: 100vw;
  height: 120px;
  padding-top: 30px;
  background-color: #222;
  box-sizing: border-box;

  .hd_bg {
    display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .hd_container {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    color: #fff;

    .hd_top {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      height: 50px;
      span {
        width: 180px;
        display: block;
        font-size: 0.8rem;
        i {
          font-size: 1.5rem;
          margin-right: 5px;
        }
        a {
          color: #fff;
          font-weight: 800;
          font-size: 1.2rem;
          margin-left: 5px;
          padding-left: 10px;
          border-left: 2px solid #fff;
        }
      }
      h1 {
        a {
          color: #fff;
          font-size: 2.5rem;
          font-weight: 800;
        }
      }
      .mypage {
        display: flex;

        width: 160px;
        li {
          a {
            display: block;
            width: 80px;
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            border-left: 2px solid #fff;
            &:hover {
              display: inline-block;
              font-weight: 800;
            }
          }
          &:first-child {
            a {
              border-left: none;
            }
          }
        }
      }
    }

    nav {
      display: flex;
      justify-content: center;
      position: absolute;
      left: calc(50% - 600px);

      width: 1200px;

      margin: 0 auto;
      border-top: 1px solid rgb(92, 92, 92);
      box-sizing: border-box;

      .gnb {
        display: flex;
        position: absolute;
        z-index: 9999;

        li {
          width: 150px;
          a {
            display: block;
            width: 100%;

            color: #fff;
            line-height: 40px;
            text-align: center;
            font-size: 1.2rem;
          }

          &:hover,
          &.on {
            margin-top: -2px;
            border-top: 2px solid #f3da6a;
            a {
              color: #f3da6a;
              font-weight: 800;
            }
          }

          .lnb {
            display: none;
            li {
              display: block;
              a {
                display: block;
                width: 150px;
                height: 40px;
                color: #fff;
                font-weight: 400;
                line-height: 40px;
              }

              &:hover,
              &.on {
                margin-top: 0;
                border-top: none;
                a {
                  color: #f3da6a;
                  font-weight: 800;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  padding-top: 120px;
  background-color: #6ed9fa;
  background: linear-gradient(#3477cf, #5cc4e4, #fff);

  .mn_bg {
    .mn_city {
      position: absolute;
      bottom: 40px;
      z-index: 50;
      display: flex;
      width: calc(100vw * 6);
      height: 600px;
      animation: city 15s linear infinite;

      li {
        width: calc(100vw * 2);
        height: 480px;
        background-image: url(./../images/background_ani.png);
        background-size: cover;
        background-repeat: repeat-x;
      }
    }

    .cloude {
      position: absolute;
      top: 50px;
      z-index: 0;
      display: flex;
      width: calc(100vw * 4);
      height: 600px;
      animation: city 20s -10s linear infinite;

      li {
        width: calc(100vw * 2);
        height: 600px;
        background-image: url(./../images/cloude.png);
        background-size: cover;
        background-repeat: repeat-x;
      }
    }

    @keyframes city {
      0% {
        transform: translateX(0vw);
      }

      100% {
        transform: translateX(-200vw);
      }
    }

    .bus {
      position: absolute;
      bottom: 130px;
      left: calc(50% - 110px);
      z-index: 150;
      width: 220px;
      height: 150px;
      background-image: url(./../images/bus.png);
      background-size: contain;

      .wheel {
        position: absolute;
        bottom: 10px;
        left: calc(50% - 75px);
        width: 40px;
        height: 40px;
        background-image: url(./../images/wheel.png);
        background-size: contain;

        animation: wheel 2s linear infinite;
      }
      .wheel_b {
        position: absolute;

        left: calc(50% + 32px);
      }

      @keyframes wheel {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(359deg);
        }
      }
    }

    .road {
      position: absolute;
      bottom: 80px;
      z-index: 100;

      width: 100vw;
      height: 200px;
      background-image: url(./../images/road.png);
      background-size: contain;
      background-repeat: repeat-x;

      span {
        display: block;
        position: absolute;
        bottom: -100px;
        width: 100vw;
        height: 100px;
        background-color: #e8e5dd;
      }
    }
  }

  .talk {
    position: absolute;
    top: 230px;
    left: calc(50% - 100px);
    z-index: 500;
    width: 200px;
    height: 230px;
    background-image: url(./../images/mn_talk.png);
    background-size: contain;
    background-repeat: no-repeat;

    animation: talk 2s infinite linear;

    h2 {
      font-size: 3rem;
      text-align: center;
      margin-top: 32%;
      span {
        color: rgb(253, 190, 54);
      }
    }

    @keyframes talk {
      0% {
        transform: rotate(3deg);
      }
      50% {
        transform: rotate(-3deg);
      }
      100% {
        transform: rotate(3deg);
      }
    }
  }
}

section.suggestion {
  position: relative;

  width: 100vw;
  height: 300px;
  background-color: #4dbdac;

  .sg_container {
    position: relative;
    top: -80px;
    z-index: 200;
    width: 900px;
    height: 350px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    h2 {
      font-size: 1.5rem;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .where {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #555;

      input {
        width: 170px;
        height: 40px;
        margin-bottom: 20px;
        font-family: "noto sans CJK KR";
        text-indent: 10px;
        font-size: 1.2rem;
        border: 1px solid #555;
      }
      .date {
        display: flex;
        justify-content: space-between;
        width: 250px;
        height: 42px;
        margin-bottom: 20px;

        font-family: "noto sans CJK KR";
        text-indent: 10px;
        font-size: 1.2rem;
        line-height: 40px;
        border: 1px solid #555;

        input {
          width: 130px;
          height: 42px;
          margin: 0;
          border: none;
        }
      }

      a {
        display: block;
        width: 120px;
        height: 42px;
        margin-bottom: 20px;

        color: #fff;
        font-size: 1.2rem;
        line-height: 42px;
        text-align: center;
        font-weight: 800;
        background-color: #222;
      }
    }
  }
}

section.travel_slide {
  position: relative;
  width: 100vw;
  height: 500px;
  padding: 80px 0;
  background-color: #4dbdac;

  .tra_container {
    display: flex;
    justify-content: center;

    width: 1200px;
    margin: 50px auto 0;
    .tra_title {
      width: 30%;
      padding: 0 20px;
      h4 {
        display: inline-block;
        margin-bottom: 40px;
        padding-top: 5px;

        color: #b4f5eb;
        font-size: 1.2rem;

        border-top: 3px solid #b4f5eb;
      }

      h2 {
        color: #fff;
        font-size: 4.2rem;
        font-weight: 600;
      }
      p {
        margin: 30px 0;

        color: #fff;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 20px;

        &:before {
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          margin-top: 60px;
          margin-bottom: 30px;
          background-color: #fff;
        }
      }
    }

    .tra_slide {
      overflow: hidden;
      width: 53%;
      // background-color: #fff;

      .screen {
        display: flex;
        justify-content: space-evenly;

        position: relative;
        z-index: 100;

        .slide_container {
          position: absolute;
          top: 0;

          width: 250px;
          height: 330px;
          margin: 0 10px;
          padding: 20px;
          background-color: #fff;
          border: 1px solid #eee;
          border-radius: 20px;

          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          transform: scale(0.8);
          transition: 0.5s;

          &:nth-of-type(1) {
            left: -300px;
          }
          &:nth-of-type(2) {
            left: 0px;
          }
          &:nth-of-type(3) {
            z-index: 100;
            left: 150px;
            transform: scale(1);
          }
          &:nth-of-type(4) {
            left: 330px;
          }
          &:nth-of-type(5) {
            left: 650px;
          }
          a {
            display: block;
            width: 250px;
            height: 330px;

            .nic_top {
              display: flex;

              .nic_pic {
                width: 45px;
                height: 45px;
                margin-right: 15px;

                background-size: cover;
                background-position: center;
                border-radius: 50%;

                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                &:nth-of-type(1) {
                  background-image: url(./../images/nic_pic.png);
                  background-size: contain;
                }
              }

              .nic_content {
                padding: 5px 0;
                h3 {
                  font-size: 1.5rem;
                }
                span {
                  display: inline-block;
                  margin-top: 5px;
                  color: #999;
                  font-weight: 800;
                }
              }
            }

            .tra_pic {
              width: 250px;
              height: 180px;
              margin-top: 20px;
              background-color: #fff;
              background-size: cover;

              &.seoul {
                background-image: url(./../images/seoul.jpg);
              }

              &.gangneung {
                background-image: url(./../images/gangneung.jpg);
              }

              &.dokdo {
                background-image: url(./../images/dokdo.jpg);
                background-position: center center;
              }

              &.damyang {
                background-image: url(./../images/damyang.jpg);
              }

              &.jeju {
                background-image: url(./../images/jeju.jpg);
              }
            }

            .tra_content {
              margin-top: 30px;
              padding-top: 15px;
              border-top: 1px solid #bebebe;
              p {
                margin: 0;
                padding: 0;
              }
              span {
                color: #999999;
                font-size: 1.2rem;
              }
              div.heart {
                display: block;
                position: absolute;
                right: 20px;
                bottom: 30px;
                width: 35px;
                height: 35px;
                background-image: url(./../images/heart.png);
                // background-image: url(./../images/heart_c.png);
                background-size: contain;
                background-position: center;
              }
              @keyframes heart {
                0% {
                  background-image: url(./../images/heart_c.png);
                  transform: translateY(-2px);
                }
                50% {
                  transform: translateY(2px);
                }
                100% {
                  background-image: url(./../images/heart_c.png);
                  transform: translateY(0px);
                }
              }
              @keyframes b_heart {
                0% {
                  background-image: url(./../images/heart.png);
                  transform: translateY(-2px);
                }
                50% {
                  transform: translateY(2px);
                }
                100% {
                  background-image: url(./../images/heart.png);
                  transform: translateY(0px);
                }
              }
            }
          }
        }
      }
    }

    .tra_button {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 100px;
      right: calc(50% - 230px);
      width: 100px;
      margin: 20px auto 0;

      a {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto;

        text-indent: -9999px;
        border-radius: 50%;

        background-color: #4dbdac;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

        &.play {
          background-image: url(./../images/start.png);
        }

        &.pause {
          background-image: url(./../images/stop.png);
        }
      }
      a:hover,
      a.on {
        box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.2);
      }
    }
  }
}

section.item {
  width: 100vw;
  height: 150px;
  background-color: #fff;

  .item_container {
    width: 1200px;
    margin: 0 auto;

    .inr {
      display: flex;
      justify-content: space-evenly;

      width: 1200px;
      margin: 0 auto;

      li > a {
        display: block;
        width: 100px;
        height: 100px;
        padding-top: 100px;
        margin: 25px 0;
        color: #777;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        box-sizing: border-box;

        &::before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          margin: -90px auto 10px;
          // border: 1px solid #777;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:hover {
          font-weight: 800;
        }
      }

      li:nth-of-type(1) {
        a:before {
          background-image: url(./../images/inr_safety.svg);
        }
      }
      li:nth-of-type(2) {
        a:before {
          background-image: url(./../images/inr_event.svg);
        }
      }
      li:nth-of-type(3) {
        a:before {
          background-image: url(./../images/inr_tiket.svg);
        }
      }
      li:nth-of-type(4) {
        a:before {
          background-image: url(./../images/inr_edu.svg);
        }
      }
      li:nth-of-type(5) {
        a:before {
          background-image: url(./../images/inr_buss.svg);
        }
      }
      li:nth-of-type(6) {
        a:before {
          background-image: url(./../images/inr_local.svg);
        }
      }
    }
  }
}
section.tripevent {
  width: 100vw;
  height: 400px;
  padding: 100px 0;
  background-color: rgb(231, 231, 231);

  .te_container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 400px;
    margin: 0 auto;

    .trip {
      width: 65%;
      background-color: #fff;
    }
    .event {
      width: 30%;
      background-color: #fff;
    }
  }
}

footer {
  width: 100vw;
  height: 260px;
  padding: 50px 0;
  background-color: #f2f2f2;

  .fot_container {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    .fot_top {
      border-bottom: 1px solid #999;

      ol {
        display: flex;
        width: 800px;

        li {
          padding: 0 25px;
          font-size: 1.2rem;

          border-left: 2px solid #999;

          &:nth-of-type(1) {
            border-left: none;
            padding-left: 0;
          }

          a {
            display: block;
          }
        }
      }

      ul {
        display: flex;
        position: relative;
        top: -20px;
        right: -1000px;
        width: 200px;
        li {
          width: 30px;
          height: 30px;
          margin-right: 10px;

          background-color: #c4c4c4;
          border-radius: 50%;
          a {
            display: block;
            i {
              width: 30px;

              color: #fff;
              font-size: 1.8rem;
              text-align: center;
              line-height: 30px;
            }
          }
        }
      }
    }

    .fot_left {
      width: 68%;
      height: 150px;
      padding: 20px 0;
      box-sizing: border-box;

      h2 {
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 2rem;
        font-weight: 800;
      }
      .inline {
        width: 70%;
        p {
          display: inline-block;
          line-height: 20px;

          &:nth-of-type(1),
          &:nth-of-type(3) {
            padding-left: 0;
          }

          &:nth-of-type(6) {
            margin-top: 20px;
          }

          span {
            color: #777;
            font-weight: 800;
            font-size: 1rem;
          }

          &.call {
            font-size: 1.5rem;
            font-weight: 800;
            border-right: none;
          }
        }
      }
      p {
        margin: 3px 0;
        padding: 0 10px;
        font-size: 1.2rem;
        border-right: 2px solid #c4c4c4;

        &.caution {
          padding-left: 0;
          font-size: 1rem;
          border-right: none;
          line-height: 15px;

          &:nth-of-type(1) {
            margin-top: 20px;
          }
        }
      }
      a {
        display: inline-block;
        margin: 0 10px;

        color: #222;
        font-size: 1.2rem;
        font-weight: 800;
        border-bottom: 1.5px solid #222;
      }
    }

    .fot_right {
      position: absolute;
      right: 0;
      top: 100px;
      width: 200px;

      .fot_list {
        select {
          width: 100%;
          height: 25px;
          color: #fff;
          font-family: "noto sans CJK KR";
          font-size: 1.1rem;
          font-weight: 800;
          text-indent: 10px;
          line-height: 25px;
          background-color: #555;
          border: 1px solid #555;
          option {
            box-shadow: none;
          }
        }
      }

      ul {
        width: 150px;

        background-color: #f2f2f2;
        border: 1px solid #777;

        li {
          a {
            display: block;
            width: 100%;
            height: 25px;

            font-size: 1.2rem;
            font-weight: 800;
            line-height: 25px;
            text-indent: 20px;
          }
        }
      }
      address {
        margin-top: 40px;
        padding-top: 10px;
        font-weight: 800;
        font-size: 1rem;
        border-top: 1px solid #777;
      }
    }
  }
}
