@import "_reset";
@import "_btn";

$tablet: "screen and (max-width:992px)";
$mobile: "screen and (max-width:768px)";

#wrap,
body {
  position: relative;
  z-index: -9999;
  width: 100vw;

  color: #222;
  font-family: "noto sans CJK KR";
  font-size: 0.652rem;

  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 99999;

  width: 100vw;
  height: 120px;
  padding-top: 30px;
  background-color: #222;
  box-sizing: border-box;

  .hd_bg {
    display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .hd_container {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    color: #fff;

    .hd_top {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      height: 50px;
      span {
        width: 180px;
        display: block;
        font-size: 0.8rem;
        i {
          font-size: 1.5rem;
          margin-right: 5px;
        }
        a {
          color: #fff;
          font-weight: 800;
          font-size: 1.2rem;
          margin-left: 5px;
          padding-left: 10px;
          border-left: 2px solid #fff;
        }
      }
      h1 {
        a {
          color: #fff;
          font-size: 2.5rem;
          font-weight: 800;
        }
      }
      .mypage {
        display: flex;

        width: 160px;
        li {
          a {
            display: block;
            width: 80px;
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            border-left: 2px solid #fff;
            &:hover {
              display: inline-block;
              font-weight: 800;
            }
          }
          &:first-child {
            a {
              border-left: none;
            }
          }
        }
      }
    }

    nav {
      display: flex;
      justify-content: center;
      position: absolute;
      left: calc(50% - 600px);

      width: 1200px;
      height: 300px;
      margin: 0 auto;
      border-top: 1px solid rgb(92, 92, 92);
      box-sizing: border-box;

      .gnb {
        display: flex;
        position: absolute;
        z-index: 9999;

        li {
          width: 150px;
          a {
            display: block;
            width: 100%;

            color: #fff;
            line-height: 40px;
            text-align: center;
            font-size: 1.2rem;
          }

          &:hover,
          &.on {
            margin-top: -2px;
            border-top: 2px solid #f3da6a;
            a {
              color: #f3da6a;
              font-weight: 800;
            }
          }

          .lnb {
            display: none;
            li {
              display: block;
              a {
                display: block;
                width: 150px;
                height: 40px;
                color: #fff;
                font-weight: 400;
                line-height: 40px;
              }

              &:hover,
              &.on {
                margin-top: 0;
                border-top: none;
                a {
                  color: #f3da6a;
                  font-weight: 800;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  padding-top: 120px;
  background-color: #6ed9fa;
  background: linear-gradient(#3477cf, #5cc4e4, #fff);

  .mn_bg {
    .mn_city {
      position: absolute;
      bottom: 60px;
      z-index: 50;
      display: flex;
      width: calc(100vw * 6);
      height: 600px;
      animation: city 15s linear infinite;

      li {
        width: calc(100vw * 2);
        height: 480px;
        background-image: url(./../images/background_ani.png);
        background-size: cover;
        background-repeat: repeat-x;
      }
    }

    .cloude {
      position: absolute;
      top: 0;
      z-index: 0;
      display: flex;
      width: calc(100vw * 4);
      height: 600px;
      animation: city 20s -10s linear infinite;

      li {
        width: calc(100vw * 2);
        height: 600px;
        background-image: url(./../images/cloude.png);
        background-size: cover;
        background-repeat: repeat-x;
      }
    }

    @keyframes city {
      0% {
        transform: translateX(0vw);
      }

      100% {
        transform: translateX(-200vw);
      }
    }

    .bus {
      position: absolute;
      bottom: 130px;
      left: calc(50% - 110px);
      z-index: 150;
      width: 220px;
      height: 150px;
      background-image: url(./../images/bus.png);
      background-size: contain;

      .wheel {
        position: absolute;
        bottom: 10px;
        left: calc(50% - 75px);
        width: 40px;
        height: 40px;
        background-image: url(./../images/wheel.png);
        background-size: contain;

        animation: wheel 2s linear infinite;
      }
      .wheel_b {
        position: absolute;

        left: calc(50% + 32px);
      }

      @keyframes wheel {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(359deg);
        }
      }
    }

    .road {
      position: absolute;
      bottom: 100px;
      z-index: 100;

      width: 100vw;
      height: 200px;
      background-image: url(./../images/road.png);
      background-size: cover;
      background-repeat: no-repeat;

      span {
        display: block;
        position: absolute;
        bottom: -100px;
        width: 100vw;
        height: 100px;
        background-color: #e8e5dd;
      }
    }
  }
}

section.suggestion {
  position: relative;

  width: 100vw;
  height: 300px;
  // background-color: #e8e5dd;

  .sg_container {
    position: relative;
    top: -100px;
    z-index: 200;
    width: 900px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

footer {
  width: 100vw;
  height: 260px;
  padding: 50px 0;
  background-color: #f2f2f2;

  .fot_container {
    position: relative;

    width: 1000px;
    margin: 0 auto;

    .fot_top {
      border-bottom: 1px solid #999;

      ol {
        display: flex;
        width: 800px;

        li {
          padding: 0 25px;
          font-size: 1.2rem;

          border-left: 2px solid #999;

          &:nth-of-type(1) {
            border-left: none;
            padding-left: 0;
          }

          a {
            display: block;
          }
        }
      }

      ul {
        display: flex;
        position: relative;
        top: -20px;
        right: -890px;
        width: 300px;
        li {
          width: 30px;
          height: 30px;
          margin-right: 10px;

          background-color: #c4c4c4;
          border-radius: 50%;
          a {
            display: block;
            i {
              width: 30px;

              color: #fff;
              font-size: 1.8rem;
              text-align: center;
              line-height: 30px;
            }
          }
        }
      }
    }

    .fot_left {
      width: 68%;
      height: 150px;
      padding: 20px 0;
      box-sizing: border-box;

      h2 {
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 2rem;
        font-weight: 800;
      }

      p {
        display: inline-block;
        margin: 3px 0;
        padding: 0 10px;
        font-size: 1.2rem;
        border-right: 2px solid #c4c4c4;

        &:nth-of-type(1),
        &:nth-of-type(3) {
          padding-left: 0;
        }

        &:nth-of-type(6) {
          margin-top: 20px;
        }

        span {
          color: #777;
          font-weight: 800;
          font-size: 1rem;
        }

        &.call {
          font-size: 1.5rem;
          font-weight: 800;
          border-right: none;
        }

        &.caution {
          padding-left: 0;
          font-size: 1rem;
          border-right: none;
        }
      }
      a {
        display: inline-block;
        margin: 0 10px;

        color: #222;
        font-size: 1.2rem;
        font-weight: 800;
        border-bottom: 1.5px solid #222;
      }
    }

    .fot_right {
      position: absolute;
      right: 0;
      top: 100px;
      width: 150px;

      .fot_list {
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 100;
        width: 150px;
        height: 25px;
        font-size: 1.2rem;
        line-height: 25px;
        border: 1px solid #777;

        span {
          position: absolute;
          right: -1px;
          top: -2px;
          display: block;
          width: 25px;
          height: 27px;
          background-color: #777;
          background-image: url(./../images/fot_btn_down.png);
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: center 6px;
        }

        &.on {
          .fot_btn {
            background-image: url(./../images/fot_btn_up.png);
          }
        }
      }

      ul {
        width: 150px;

        background-color: #f2f2f2;
        border: 1px solid #777;

        li {
          a {
            display: block;
            width: 100%;
            height: 25px;

            font-size: 1.2rem;
            font-weight: 800;
            line-height: 25px;
            text-indent: 20px;
          }
        }
      }
      address {
        margin-top: 40px;
        padding-top: 10px;
        font-weight: 800;
        font-size: 1rem;
        border-top: 1px solid #777;
      }
    }
  }
}
