@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "noto sans CJK KR";
  color: #222;
  font-size: 10px;
  line-height: 1.2;
  box-sizing: border-box;
}

body,
header,
section,
article,
footer,
nav,
aside,
mark,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
dl,
dt,
dd,
address,
code,
em,
strong,
blockquote,
q {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

q {
  quotes: none;
}

em,
address {
  font-style: normal;
}

hr {
  display: none;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:active {
  color: #222;
}

a.btn {
  overflow: hidden;
  display: block;
  position: relative;
  width: 150px;
  height: 30px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

a.btn span {
  width: 100%;
  font-weight: 800;
}

a.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #65aab3;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

a.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #65aab3;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

a.btn:hover:before, a.btn:hover:after {
  width: 50%;
  transition-delay: 0s;
}

a.btn:hover span:nth-of-type(1) {
  transform: scale(0);
  transition-delay: 0s;
}

a.btn:hover span:nth-of-type(2) {
  transform: scale(1);
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
  transition-delay: 0.5s;
}

a.btn span {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 75px);
  z-index: 1000;
  width: 150px;
  color: #65aab3;
  transition: 0.5s;
}

a.btn span:nth-of-type(1) {
  transition-delay: 0.75s;
}

a.btn span:nth-of-type(2) {
  transform: scale(3);
  opacity: 0;
  color: #000;
  transition-delay: 0s;
}

#wrap,
body {
  position: relative;
  z-index: -9999;
  width: 100vw;
  color: #222;
  font-family: "noto sans CJK KR";
  font-size: 0.652rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100vw;
  height: 120px;
  padding-top: 30px;
  background-color: #222;
  box-sizing: border-box;
}

header .hd_bg {
  display: none;
  position: absolute;
  top: 120px;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

header .hd_container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}

header .hd_container .hd_top {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 50px;
}

header .hd_container .hd_top span {
  width: 180px;
  display: block;
  font-size: 0.8rem;
}

header .hd_container .hd_top span i {
  font-size: 1.5rem;
  margin-right: 5px;
}

header .hd_container .hd_top span a {
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 2px solid #fff;
}

header .hd_container .hd_top h1 a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
}

header .hd_container .hd_top .mypage {
  display: flex;
  width: 160px;
}

header .hd_container .hd_top .mypage li a {
  display: block;
  width: 80px;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  border-left: 2px solid #fff;
}

header .hd_container .hd_top .mypage li a:hover {
  display: inline-block;
  font-weight: 800;
}

header .hd_container .hd_top .mypage li:first-child a {
  border-left: none;
}

header .hd_container nav {
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(50% - 600px);
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  border-top: 1px solid #5c5c5c;
  box-sizing: border-box;
}

header .hd_container nav .gnb {
  display: flex;
  position: absolute;
  z-index: 9999;
}

header .hd_container nav .gnb li {
  width: 150px;
}

header .hd_container nav .gnb li a {
  display: block;
  width: 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
}

header .hd_container nav .gnb li:hover, header .hd_container nav .gnb li.on {
  margin-top: -2px;
  border-top: 2px solid #f3da6a;
}

header .hd_container nav .gnb li:hover a, header .hd_container nav .gnb li.on a {
  color: #f3da6a;
  font-weight: 800;
}

header .hd_container nav .gnb li .lnb {
  display: none;
}

header .hd_container nav .gnb li .lnb li {
  display: block;
}

header .hd_container nav .gnb li .lnb li a {
  display: block;
  width: 150px;
  height: 40px;
  color: #fff;
  font-weight: 400;
  line-height: 40px;
}

header .hd_container nav .gnb li .lnb li:hover, header .hd_container nav .gnb li .lnb li.on {
  margin-top: 0;
  border-top: none;
}

header .hd_container nav .gnb li .lnb li:hover a, header .hd_container nav .gnb li .lnb li.on a {
  color: #f3da6a;
  font-weight: 800;
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  padding-top: 120px;
  background-color: #6ed9fa;
  background: linear-gradient(#3477cf, #5cc4e4, #fff);
}

section.main .mn_bg .mn_city {
  position: absolute;
  bottom: 40px;
  z-index: 50;
  display: flex;
  width: calc(100vw * 6);
  height: 600px;
  animation: city 15s linear infinite;
}

section.main .mn_bg .mn_city li {
  width: calc(100vw * 2);
  height: 480px;
  background-image: url(./../images/background_ani.png);
  background-size: cover;
  background-repeat: repeat-x;
}

section.main .mn_bg .cloude {
  position: absolute;
  top: 50px;
  z-index: 0;
  display: flex;
  width: calc(100vw * 4);
  height: 600px;
  animation: city 20s -10s linear infinite;
}

section.main .mn_bg .cloude li {
  width: calc(100vw * 2);
  height: 600px;
  background-image: url(./../images/cloude.png);
  background-size: cover;
  background-repeat: repeat-x;
}

@keyframes city {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

section.main .mn_bg .bus {
  position: absolute;
  bottom: 130px;
  left: calc(50% - 110px);
  z-index: 150;
  width: 220px;
  height: 150px;
  background-image: url(./../images/bus.png);
  background-size: contain;
}

section.main .mn_bg .bus .wheel {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 75px);
  width: 40px;
  height: 40px;
  background-image: url(./../images/wheel.png);
  background-size: contain;
  animation: wheel 2s linear infinite;
}

section.main .mn_bg .bus .wheel_b {
  position: absolute;
  left: calc(50% + 32px);
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

section.main .mn_bg .road {
  position: absolute;
  bottom: 80px;
  z-index: 100;
  width: 100vw;
  height: 200px;
  background-image: url(./../images/road.png);
  background-size: contain;
  background-repeat: repeat-x;
}

section.main .mn_bg .road span {
  display: block;
  position: absolute;
  bottom: -100px;
  width: 100vw;
  height: 100px;
  background-color: #e8e5dd;
}

section.suggestion {
  position: relative;
  width: 100vw;
  height: 300px;
}

section.suggestion .sg_container {
  position: relative;
  top: -80px;
  z-index: 200;
  width: 900px;
  height: 250px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
  width: 100vw;
  height: 260px;
  padding: 50px 0;
  background-color: #f2f2f2;
}

footer .fot_container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

footer .fot_container .fot_top {
  border-bottom: 1px solid #999;
}

footer .fot_container .fot_top ol {
  display: flex;
  width: 800px;
}

footer .fot_container .fot_top ol li {
  padding: 0 25px;
  font-size: 1.2rem;
  border-left: 2px solid #999;
}

footer .fot_container .fot_top ol li:nth-of-type(1) {
  border-left: none;
  padding-left: 0;
}

footer .fot_container .fot_top ol li a {
  display: block;
}

footer .fot_container .fot_top ul {
  display: flex;
  position: relative;
  top: -20px;
  right: -890px;
  width: 300px;
}

footer .fot_container .fot_top ul li {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

footer .fot_container .fot_top ul li a {
  display: block;
}

footer .fot_container .fot_top ul li a i {
  width: 30px;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  line-height: 30px;
}

footer .fot_container .fot_left {
  width: 68%;
  height: 150px;
  padding: 20px 0;
  box-sizing: border-box;
}

footer .fot_container .fot_left h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 800;
}

footer .fot_container .fot_left p {
  display: inline-block;
  margin: 3px 0;
  padding: 0 10px;
  font-size: 1.2rem;
  border-right: 2px solid #c4c4c4;
}

footer .fot_container .fot_left p:nth-of-type(1), footer .fot_container .fot_left p:nth-of-type(3) {
  padding-left: 0;
}

footer .fot_container .fot_left p:nth-of-type(6) {
  margin-top: 20px;
}

footer .fot_container .fot_left p span {
  color: #777;
  font-weight: 800;
  font-size: 1rem;
}

footer .fot_container .fot_left p.call {
  font-size: 1.5rem;
  font-weight: 800;
  border-right: none;
}

footer .fot_container .fot_left p.caution {
  padding-left: 0;
  font-size: 1rem;
  border-right: none;
}

footer .fot_container .fot_left a {
  display: inline-block;
  margin: 0 10px;
  color: #222;
  font-size: 1.2rem;
  font-weight: 800;
  border-bottom: 1.5px solid #222;
}

footer .fot_container .fot_right {
  position: absolute;
  right: 0;
  top: 100px;
  width: 150px;
}

footer .fot_container .fot_right .fot_list select {
  width: 100%;
  height: 25px;
  color: #fff;
  font-family: "noto sans CJK KR";
  font-size: 1.2rem;
  text-indent: 10px;
  background-color: #555;
  border: 1px solid #555;
}

footer .fot_container .fot_right .fot_list select option {
  display: block;
  font-size: 1.2rem;
  text-indent: 10px;
  line-height: 25px;
  box-shadow: none;
}

footer .fot_container .fot_right ul {
  width: 150px;
  background-color: #f2f2f2;
  border: 1px solid #777;
}

footer .fot_container .fot_right ul li a {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 25px;
  text-indent: 20px;
}

footer .fot_container .fot_right address {
  margin-top: 40px;
  padding-top: 10px;
  font-weight: 800;
  font-size: 1rem;
  border-top: 1px solid #777;
}
