@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "noto sans CJK KR";
  color: #222;
  font-size: 10px;
  line-height: 1.2;
  box-sizing: border-box;
}

body,
header,
section,
article,
footer,
nav,
aside,
mark,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
dl,
dt,
dd,
address,
code,
em,
strong,
blockquote,
q {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

q {
  quotes: none;
}

em,
address {
  font-style: normal;
}

hr {
  display: none;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:active {
  color: #222;
}

a.btn {
  overflow: hidden;
  display: block;
  position: relative;
  width: 150px;
  height: 30px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 800;
  background-color: #4dbdac;
  box-sizing: border-box;
}

a.btn span {
  width: 100%;
  font-weight: 800;
}

a.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #fff;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

a.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #fff;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

a.btn:hover:before, a.btn:hover:after {
  width: 50%;
  transition-delay: 0s;
}

a.btn:hover span:nth-of-type(1) {
  transform: scale(0);
  transition-delay: 0s;
}

a.btn:hover span:nth-of-type(2) {
  transform: scale(1);
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
  transition-delay: 0.5s;
}

a.btn span {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 75px);
  z-index: 1000;
  width: 150px;
  color: #fff;
  transition: 0.5s;
}

a.btn span:nth-of-type(1) {
  transition-delay: 0.75s;
}

a.btn span:nth-of-type(2) {
  transform: scale(3);
  opacity: 0;
  color: #4dbdac;
  transition-delay: 0s;
}

#wrap,
body {
  position: relative;
  z-index: -9999;
  width: 100vw;
  color: #222;
  font-family: "noto sans CJK KR";
  font-size: 0.652rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100vw;
  height: 120px;
  padding-top: 30px;
  background-color: #222;
  box-sizing: border-box;
}

header .hd_bg {
  display: none;
  position: absolute;
  top: 120px;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

header .hd_container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}

header .hd_container .hd_top {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 50px;
}

header .hd_container .hd_top span {
  width: 180px;
  display: block;
  font-size: 0.8rem;
}

header .hd_container .hd_top span i {
  font-size: 1.5rem;
  margin-right: 5px;
}

header .hd_container .hd_top span a {
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 2px solid #fff;
}

header .hd_container .hd_top h1 a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
}

header .hd_container .hd_top .mypage {
  display: flex;
  width: 160px;
}

header .hd_container .hd_top .mypage li a {
  display: block;
  width: 80px;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  border-left: 2px solid #fff;
}

header .hd_container .hd_top .mypage li a:hover {
  display: inline-block;
  font-weight: 800;
}

header .hd_container .hd_top .mypage li:first-child a {
  border-left: none;
}

header .hd_container nav {
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(50% - 600px);
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #5c5c5c;
  box-sizing: border-box;
}

header .hd_container nav .gnb {
  display: flex;
  position: absolute;
  z-index: 9999;
}

header .hd_container nav .gnb li {
  width: 150px;
}

header .hd_container nav .gnb li a {
  display: block;
  width: 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
}

header .hd_container nav .gnb li:hover, header .hd_container nav .gnb li.on {
  margin-top: -2px;
  border-top: 2px solid #f3da6a;
}

header .hd_container nav .gnb li:hover a, header .hd_container nav .gnb li.on a {
  color: #f3da6a;
  font-weight: 800;
}

header .hd_container nav .gnb li .lnb {
  display: none;
}

header .hd_container nav .gnb li .lnb li {
  display: block;
}

header .hd_container nav .gnb li .lnb li a {
  display: block;
  width: 150px;
  height: 40px;
  color: #fff;
  font-weight: 400;
  line-height: 40px;
}

header .hd_container nav .gnb li .lnb li:hover, header .hd_container nav .gnb li .lnb li.on {
  margin-top: 0;
  border-top: none;
}

header .hd_container nav .gnb li .lnb li:hover a, header .hd_container nav .gnb li .lnb li.on a {
  color: #f3da6a;
  font-weight: 800;
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  padding-top: 120px;
  background-color: #6ed9fa;
  background: linear-gradient(#3477cf, #5cc4e4, #fff);
}

section.main .mn_bg .mn_city {
  position: absolute;
  bottom: 40px;
  z-index: 50;
  display: flex;
  width: calc(100vw * 6);
  height: 600px;
  animation: city 15s linear infinite;
}

section.main .mn_bg .mn_city li {
  width: calc(100vw * 2);
  height: 480px;
  background-image: url(./../images/background_ani.png);
  background-size: cover;
  background-repeat: repeat-x;
}

section.main .mn_bg .cloude {
  position: absolute;
  top: 50px;
  z-index: 0;
  display: flex;
  width: calc(100vw * 4);
  height: 600px;
  animation: city 20s -10s linear infinite;
}

section.main .mn_bg .cloude li {
  width: calc(100vw * 2);
  height: 600px;
  background-image: url(./../images/cloude.png);
  background-size: cover;
  background-repeat: repeat-x;
}

@keyframes city {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

section.main .mn_bg .bus {
  position: absolute;
  bottom: 130px;
  left: calc(50% - 110px);
  z-index: 150;
  width: 220px;
  height: 150px;
  background-image: url(./../images/bus.png);
  background-size: contain;
}

section.main .mn_bg .bus .wheel {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 75px);
  width: 40px;
  height: 40px;
  background-image: url(./../images/wheel.png);
  background-size: contain;
  animation: wheel 2s linear infinite;
}

section.main .mn_bg .bus .wheel_b {
  position: absolute;
  left: calc(50% + 32px);
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

section.main .mn_bg .road {
  position: absolute;
  bottom: 80px;
  z-index: 100;
  width: 100vw;
  height: 200px;
  background-image: url(./../images/road.png);
  background-size: contain;
  background-repeat: repeat-x;
}

section.main .mn_bg .road span {
  display: block;
  position: absolute;
  bottom: -100px;
  width: 100vw;
  height: 100px;
  background-color: #e8e5dd;
}

section.main .talk {
  position: absolute;
  top: 230px;
  left: calc(50% - 100px);
  z-index: 500;
  width: 200px;
  height: 230px;
  background-image: url(./../images/mn_talk.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: talk 2s infinite linear;
}

section.main .talk h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 32%;
}

section.main .talk h2 span {
  color: #fdbe36;
}

@keyframes talk {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

section.suggestion {
  position: relative;
  width: 100vw;
  height: 300px;
  background-color: #4dbdac;
}

section.suggestion .sg_container {
  position: relative;
  top: -80px;
  z-index: 200;
  width: 900px;
  height: 350px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

section.suggestion .sg_container h2 {
  font-size: 1.5rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

section.suggestion .sg_container .where {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
}

section.suggestion .sg_container .where input {
  width: 170px;
  height: 40px;
  margin-bottom: 20px;
  font-family: "noto sans CJK KR";
  text-indent: 10px;
  font-size: 1.2rem;
  border: 1px solid #555;
}

section.suggestion .sg_container .where .date {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 42px;
  margin-bottom: 20px;
  font-family: "noto sans CJK KR";
  text-indent: 10px;
  font-size: 1.2rem;
  line-height: 40px;
  border: 1px solid #555;
}

section.suggestion .sg_container .where .date input {
  width: 130px;
  height: 42px;
  margin: 0;
  border: none;
}

section.suggestion .sg_container .where a {
  display: block;
  width: 120px;
  height: 42px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 42px;
  text-align: center;
  font-weight: 800;
  background-color: #222;
}

section.travel_slide {
  position: relative;
  width: 100vw;
  height: 500px;
  padding: 80px 0;
  background-color: #4dbdac;
}

section.travel_slide .tra_container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 50px auto 0;
}

section.travel_slide .tra_container .tra_title {
  width: 30%;
  padding: 0 20px;
}

section.travel_slide .tra_container .tra_title h4 {
  display: inline-block;
  margin-bottom: 40px;
  padding-top: 5px;
  color: #b4f5eb;
  font-size: 1.2rem;
  border-top: 3px solid #b4f5eb;
}

section.travel_slide .tra_container .tra_title h2 {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 600;
}

section.travel_slide .tra_container .tra_title p {
  margin: 30px 0;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 20px;
}

section.travel_slide .tra_container .tra_title p:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: #fff;
}

section.travel_slide .tra_container .tra_slide {
  overflow: hidden;
  width: 53%;
}

section.travel_slide .tra_container .tra_slide .screen {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 100;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container {
  position: absolute;
  top: 0;
  width: 250px;
  height: 330px;
  margin: 0 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transition: 0.5s;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container:nth-of-type(1) {
  left: -300px;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container:nth-of-type(2) {
  left: 0px;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container:nth-of-type(3) {
  z-index: 100;
  left: 150px;
  transform: scale(1);
}

section.travel_slide .tra_container .tra_slide .screen .slide_container:nth-of-type(4) {
  left: 330px;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container:nth-of-type(5) {
  left: 650px;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a {
  display: block;
  width: 250px;
  height: 330px;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .nic_top {
  display: flex;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .nic_top .nic_pic {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .nic_top .nic_pic:nth-of-type(1) {
  background-image: url(./../images/nic_pic.png);
  background-size: contain;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .nic_top .nic_content {
  padding: 5px 0;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .nic_top .nic_content h3 {
  font-size: 1.5rem;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .nic_top .nic_content span {
  display: inline-block;
  margin-top: 5px;
  color: #999;
  font-weight: 800;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_pic {
  width: 250px;
  height: 180px;
  margin-top: 20px;
  background-color: #fff;
  background-size: cover;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_pic.seoul {
  background-image: url(./../images/seoul.jpg);
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_pic.gangneung {
  background-image: url(./../images/gangneung.jpg);
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_pic.dokdo {
  background-image: url(./../images/dokdo.jpg);
  background-position: center center;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_pic.damyang {
  background-image: url(./../images/damyang.jpg);
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_pic.jeju {
  background-image: url(./../images/jeju.jpg);
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_content {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #bebebe;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_content p {
  margin: 0;
  padding: 0;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_content span {
  color: #999999;
  font-size: 1.2rem;
}

section.travel_slide .tra_container .tra_slide .screen .slide_container a .tra_content div.heart {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 35px;
  height: 35px;
  background-image: url(./../images/heart.png);
  background-size: contain;
  background-position: center;
}

@keyframes heart {
  0% {
    background-image: url(./../images/heart_c.png);
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    background-image: url(./../images/heart_c.png);
    transform: translateY(0px);
  }
}

@keyframes b_heart {
  0% {
    background-image: url(./../images/heart.png);
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    background-image: url(./../images/heart.png);
    transform: translateY(0px);
  }
}

section.travel_slide .tra_container .tra_button {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  right: calc(50% - 230px);
  width: 100px;
  margin: 20px auto 0;
}

section.travel_slide .tra_container .tra_button a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: #4dbdac;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

section.travel_slide .tra_container .tra_button a.play {
  background-image: url(./../images/start.png);
}

section.travel_slide .tra_container .tra_button a.pause {
  background-image: url(./../images/stop.png);
}

section.travel_slide .tra_container .tra_button a:hover,
section.travel_slide .tra_container .tra_button a.on {
  box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.2);
}

section.item {
  width: 100vw;
  height: 150px;
  background-color: #fff;
}

section.item .item_container {
  width: 1200px;
  margin: 0 auto;
}

section.item .item_container .inr {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  margin: 0 auto;
}

section.item .item_container .inr li > a {
  display: block;
  width: 100px;
  height: 100px;
  padding-top: 100px;
  margin: 25px 0;
  color: #777;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
}

section.item .item_container .inr li > a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: -90px auto 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section.item .item_container .inr li > a:hover {
  font-weight: 800;
}

section.item .item_container .inr li:nth-of-type(1) a:before {
  background-image: url(./../images/inr_safety.svg);
}

section.item .item_container .inr li:nth-of-type(2) a:before {
  background-image: url(./../images/inr_event.svg);
}

section.item .item_container .inr li:nth-of-type(3) a:before {
  background-image: url(./../images/inr_tiket.svg);
}

section.item .item_container .inr li:nth-of-type(4) a:before {
  background-image: url(./../images/inr_edu.svg);
}

section.item .item_container .inr li:nth-of-type(5) a:before {
  background-image: url(./../images/inr_buss.svg);
}

section.item .item_container .inr li:nth-of-type(6) a:before {
  background-image: url(./../images/inr_local.svg);
}

section.tripevent {
  width: 100vw;
  height: 400px;
  padding: 100px 0;
  background-color: #e7e7e7;
}

section.tripevent .te_container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}

section.tripevent .te_container .trip {
  width: 65%;
  background-color: #fff;
}

section.tripevent .te_container .event {
  width: 30%;
  background-color: #fff;
}

footer {
  width: 100vw;
  height: 260px;
  padding: 50px 0;
  background-color: #f2f2f2;
}

footer .fot_container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

footer .fot_container .fot_top {
  border-bottom: 1px solid #999;
}

footer .fot_container .fot_top ol {
  display: flex;
  width: 800px;
}

footer .fot_container .fot_top ol li {
  padding: 0 25px;
  font-size: 1.2rem;
  border-left: 2px solid #999;
}

footer .fot_container .fot_top ol li:nth-of-type(1) {
  border-left: none;
  padding-left: 0;
}

footer .fot_container .fot_top ol li a {
  display: block;
}

footer .fot_container .fot_top ul {
  display: flex;
  position: relative;
  top: -20px;
  right: -1000px;
  width: 200px;
}

footer .fot_container .fot_top ul li {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

footer .fot_container .fot_top ul li a {
  display: block;
}

footer .fot_container .fot_top ul li a i {
  width: 30px;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  line-height: 30px;
}

footer .fot_container .fot_left {
  width: 68%;
  height: 150px;
  padding: 20px 0;
  box-sizing: border-box;
}

footer .fot_container .fot_left h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 800;
}

footer .fot_container .fot_left .inline {
  width: 70%;
}

footer .fot_container .fot_left .inline p {
  display: inline-block;
  line-height: 20px;
}

footer .fot_container .fot_left .inline p:nth-of-type(1), footer .fot_container .fot_left .inline p:nth-of-type(3) {
  padding-left: 0;
}

footer .fot_container .fot_left .inline p:nth-of-type(6) {
  margin-top: 20px;
}

footer .fot_container .fot_left .inline p span {
  color: #777;
  font-weight: 800;
  font-size: 1rem;
}

footer .fot_container .fot_left .inline p.call {
  font-size: 1.5rem;
  font-weight: 800;
  border-right: none;
}

footer .fot_container .fot_left p {
  margin: 3px 0;
  padding: 0 10px;
  font-size: 1.2rem;
  border-right: 2px solid #c4c4c4;
}

footer .fot_container .fot_left p.caution {
  padding-left: 0;
  font-size: 1rem;
  border-right: none;
  line-height: 15px;
}

footer .fot_container .fot_left p.caution:nth-of-type(1) {
  margin-top: 20px;
}

footer .fot_container .fot_left a {
  display: inline-block;
  margin: 0 10px;
  color: #222;
  font-size: 1.2rem;
  font-weight: 800;
  border-bottom: 1.5px solid #222;
}

footer .fot_container .fot_right {
  position: absolute;
  right: 0;
  top: 100px;
  width: 200px;
}

footer .fot_container .fot_right .fot_list select {
  width: 100%;
  height: 25px;
  color: #fff;
  font-family: "noto sans CJK KR";
  font-size: 1.1rem;
  font-weight: 800;
  text-indent: 10px;
  line-height: 25px;
  background-color: #555;
  border: 1px solid #555;
}

footer .fot_container .fot_right .fot_list select option {
  box-shadow: none;
}

footer .fot_container .fot_right ul {
  width: 150px;
  background-color: #f2f2f2;
  border: 1px solid #777;
}

footer .fot_container .fot_right ul li a {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 25px;
  text-indent: 20px;
}

footer .fot_container .fot_right address {
  margin-top: 40px;
  padding-top: 10px;
  font-weight: 800;
  font-size: 1rem;
  border-top: 1px solid #777;
}
